@import url('./base.css');
/* 字体导入 */
@import url('../font/iconfont.css');
@import url('../font/wordfont.css');

/* tailwind引入 */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'siyuan-regular';
}

/* 去除一些默认样式对于标签的影响 */
.articleHtml h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin: 0.67em 0;
}

.articleHtml h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
}

.articleHtml h3 {
  font-size: 1.17em;
  margin: 0.83em 0;
}

.articleHtml h4 {
  margin: 1.12em 0;
}

.articleHtml p {
  margin: 1.12em 0;
  color: #333;
  font-size: 15px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
/* 这里因为样式优先级问题就这样写了 */
code {
  word-break: break-word;
  border-radius: 2px;
  overflow-x: auto;
  color: #ff502c;
  font-size: 0.8em;
  padding: 0.065em 0.4em;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.articleHtml h5 {
  font-size: 0.83em;
  margin: 1.5em 0;
}
.articleHtml h6 {
  font-size: 0.75em;
  margin: 1.67em 0;
}

.articleHtml h1,
.articleHtml h2,
.articleHtml h3,
.articleHtml h4,
.articleHtml h5,
.articleHtml h6,
.articleHtml b,
.articleHtml strong {
  font-weight: bolder;
  color: #333;
}
.articleHtml ol {
  margin: 1.5rem 0;
  box-sizing: border-box;
  padding: 0 0 0 40px;
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.articleHtml ul {
  margin: 1.5rem 0;
  box-sizing: border-box;
  padding: 0 0 0 40px;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.articleHtml ol li,
.articleHtml ul li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.articleHtml a:hover {
  border-bottom: 1px solid #000;
}
.articleHtml a {
  color: #58666e;
  border-bottom: 1px solid #999;
}

/* 表格的样式 */
.articleHtml table {
  display: block;
  width: 100%;
  overflow: auto;
  margin-top: 0;
  margin-bottom: 16px;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
}
.articleHtml table th {
  font-weight: 600;
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
  text-align: center;
}

.articleHtml table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.articleHtml table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.articleHtml table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.articleHtml pre {
  margin-top: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.hljs {
  background-color: transparent !important;
}
