@import url('./base.css');
/* 字体导入 */
@import url('../font/iconfont.css');
@import url('../font/wordfont.css');

/* tailwind引入 */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'siyuan-regular';
}

/* 去除一些默认样式对于标签的影响 */
h1 {
  @apply text-2xl;
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  @apply text-xl;
  font-size: 1.5em;
  margin: 0.75em 0;
}

h3 {
  @apply text-lg;
  font-size: 1.17em;
  margin: 0.83em 0;
}

h4,
p {
  margin: 1.12em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.5em 0;
}
h6 {
  font-size: 0.75em;
  margin: 1.67em 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: bolder !important;
}

a:hover {
  border-bottom: 1px solid #333;
}
