.navigate-wrapper {
  position: sticky;
  top: 80px;
}
.navigate-dom {
  max-height: 450px;
  overflow-y: auto;
}
.navigate-dom a {
  display: block;
  margin: 5px 0;
  padding: 5px;
  padding-left: 25px;
  border-radius: 0.25rem;
}

.navigate-dom a:hover {
  background-color: #f7f8fa;
}

.navigate-dom .a-h2 {
  margin-left: 15px;
}
.navigate-dom .a-h3 {
  margin-left: 30px;
}

.navigate-dom .a-h4 {
  margin-left: 45px;
}

.navigate-dom .a-h5 {
  margin-left: 60px;
}

.navigate-dom .a-h6 {
  margin-left: 75px;
}
