.navigate-wrapper {
  transition: right 0.4s;
}
.navigate-dom {
  margin-left: -15px;
  max-height: 450px;
  overflow-y: auto;
}
.navigate-dom a {
  display: block;
  margin: 5px 0;
  padding: 5px;
  padding-left: 25px;
  border-radius: 0.25rem;
  position: relative;
}

.navigate-dom a:hover {
  background-color: #f7f8fa;
}
.navigate-a-active {
  background-color: #f7f8fa;
  color: #1e80ff;
}
.navigate-a-active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 16px;
  background: #1e80ff;
  border-radius: 0 4px 4px 0;
}

.navigate-dom .a-h2 {
  padding-left: 40px;
  font-size: 14px;
}
.navigate-dom .a-h3 {
  padding-left: 55px;
  font-size: 14px;
}

.navigate-dom .a-h4 {
  padding-left: 60px;
  font-size: 14px;
}

.navigate-dom .a-h5 {
  padding-left: 75px;
  font-size: 14px;
}

.navigate-dom .a-h6 {
  padding-left: 90px;
  font-size: 14px;
}

.navigate-wrapper-active {
  right: 0;
}
