@font-face {
  font-family: 'iconfont'; /* Project id 3159305 */
  src: url('//at.alicdn.com/t/font_3159305_c6jmfpjvgvj.woff2?t=1649435310249') format('woff2'),
    url('//at.alicdn.com/t/font_3159305_c6jmfpjvgvj.woff?t=1649435310249') format('woff'),
    url('//at.alicdn.com/t/font_3159305_c6jmfpjvgvj.ttf?t=1649435310249') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: '\e649';
}

.icon-pinglun1:before {
  content: '\e6b3';
}

.icon-pinglun:before {
  content: '\e627';
}

.icon-dianzan:before {
  content: '\e62a';
}

.icon-liebiao1:before {
  content: '\e601';
}

.icon-shijian:before {
  content: '\e638';
}

.icon-guanbi:before {
  content: '\e64d';
}

.icon-jiantouyou:before {
  content: '\e62d';
}

.icon-yonghu-xianxing:before {
  content: '\e8c8';
}

.icon-sousuo:before {
  content: '\e60e';
}

.icon-liebiao:before {
  content: '\e600';
}
