.lazy-loadding-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  background-image: url('@/assets/img/hutao.gif');
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center 35%;
}
